.App {
  text-align: center;
  /* background-image:url(https://th.bing.com/th/id/R.bd6d86e382e3d48cde39c4835a6584e1?rik=%2fLbDYRdFjxrs%2fQ&riu=http%3a%2f%2fi.huffpost.com%2fgen%2f1429261%2fimages%2fo-ONS-JABEUR-facebook.jpg&ehk=vZISyELhHmjppAlu473S8u%2fsh%2fv6Xtt%2f9vf6%2bEtO32M%3d&risl=&pid=ImgRaw&r=0) ;*/
 background-color: #61dafb;
  background-size: 100%;
  background-repeat: no-repeat;
  margin: 0 auto;
  height: 800px;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
